
#header {
	width: 100%;
	height: 100px;
    background-color: white;
}

#menubar{
    padding-top: 40px;
    color: #808080;
    width: 100%;
}

#loginbar {
    width: 20%;
    float: left;
    margin-left: 20px;
    margin-top: 50px;   
}

#loginbar a{
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    color: #A0A09F;
    font-weight: bold;
}

#logo {
	float: left;
}

#navigation {

	width: 60%;
	float: right;
}

#navigation a {
	text-decoration: none;
	color: inherit;
    margin-left: 0px;
    padding-left: 0px;

}


#navigation ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#navigation li{
	list-style: none;
	margin: 0px;
	padding: 0px;
    border-bottom: 1px solid grey;
    text-align: center;
}

#mainmenu li {
	width: 15%;
	font-size: 25px;
	display: inline-block;
	margin:0px;
	overflow: hidden;
    font-weight: bold;
    border: none;
}

#menuitemarea {
	position: relative;
    z-index: 10;
}

#menuitemarea li {
	width: 80%;
    height: 50%;
}

.menuitems {
	width: 300px;
    height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

#studyinfo {
	padding-left: 15%;
}

#livinginfo {
	padding-left: 30%;
}

#interaction {
	padding-left: 45%;	
}

#navigation li:hover {
	color: #A0A09F;
    background-color: #2F2F2E;
}

.submenu li{
    background-color: #ffffff;
    color: #808080;
    font-size: 25px;
    width: 50%;
}

#content {
    min-height: 550px;
}

#footer {
    position: relative;
    width: 100%;
    font-size: small;
    clear: both;
    background-color: #2F2F2E;
}

#footercontentarea {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #A0A09F;
}

.nostyle {
    list-style-type: none;
}

.popup {
    position: absolute;
    background-color: #c7c7f9;
    left: 300px;
    top: 500px;
    z-index: 101;
}

.mask {
    background-color: #c0b9b9;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    opacity: 0.9; 
}

.hidden {
        visibility: hidden;   
}

.visible {
    visibility: visible;
}

#login {
    width: 400px;
    height: 300px;
    border: 1px solid blue;
    padding: 10px;
    background-color: #c7c7f9;
    position: relative;
    top: 100px;
    margin: auto;
}

#register {
    width: 40%;
    border: 1px solid blue;
    padding: 10px;
    background-color: #c7c7f9;
    margin: auto;
}


.closeButton {
    float: right;
    background-color: #f67878;
    color: white;
}


form input {
    margin-bottom: 20px;
}

form .hintInfo {
    color: red;
}



.topicDetails {
    width: 100%;
    background-color: #e7f1ba;
}

#topicTable {
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

.controlBar {
    width: 90%;
    margin: auto;
}

#topicTable tr, #topicTable th, #topicTable td{
    border: 1px solid black;
}

#topicTable th {
    height: 30px;
    background-color: #efb2b2;
}

#topicTable th:nth-child(1) {
    width: 10%;
}

#topicTable th:nth-child(2) {
    width: 65%;
}
#topicTable th:nth-child(3) {
    width: 25%;
}

#topicTable td:nth-child(1) {
    width: 10%;
}

#topicTable td:nth-child(2) {
    width: 65%;
}
#topicTable td:nth-child(3) {
    width: 25%;
}

tr:nth-child(even) {
    background-color: #bcefef;
}

tr:nth-child(odd) {
    background-color: #baf1c1;
}
table a {
    text-decoration: none;
}

.topicTitle {
    width: 100%;
    background-color: #efb2b2;
    font-weight: bold;
    font-size: 30px;
}


.postContent {
    min-height:100px;
    border: 1px solid yellow;
    background-color: white;
    color: blue;
}

#profile {
    width: 50%;
    margin: auto;
    text-align: left;
    background-color: #f1f1f1;
}

#tblUserProfile {
    width: 100%;
}