#content {
    position: relative;
    background-color: #e6ffff;
}

#picture {
    width: 100%;
    height: 400px;
    background-image: url(../images/comments.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#commentpage {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: auto;
    float: left;
}

#commentlist {
    position: absolute;
    width: 40%;
    left: 0;
    top: 0;
    height: 400px;   
}

#commentdetails {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 350px;
    border: 1px solid red;
}

#response {
    position: absolute;
    right: 20px;
    bottom: 50px;
}

#posts {
    width: 100%;
    height: 500px;
    position: relative;
}

#topics {
    width: 50%;
    height: 500px;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 10px;
}

#postDetails {
    width: 50%;
    height: 500px;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 10px;
    margin-left: 50%;
}