#topdiv{
	height: 400px;
    padding: 0px 0px 0px 0px;
    background-image: url(../images/CommentBoard/CampusLife.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#BCITComment{
    border: 2.5px #4E59F6 solid;
    box-shadow: 5px 5px 2.5px #262FA2;
}

#UBCComment{
    border: 2.5px #C44FEB solid;
    box-shadow: 5px 5px 2.5px #8C39A7;
}

#SFUComment{
    border: 2.5px #F35673 solid;
    box-shadow: 5px 5px 2.5px #AF1834;
}

#LangaraComment{
    border: 2.5px #FAC751 solid;
    box-shadow: 5px 5px 2.5px #816011;
}

#MainContent h1, h2, p{
	padding: 0px 20px 0px 20px;
    text-indent: 0px;
}

#MainContent h3{
    padding-left: 40px; 
}

#SchoolFont{
    padding-left: 50px;
    font-family: Algerian, Georia, serif;
    font-size: 50px;
}

#LivingFont{
    padding-left: 20px;
    font-family: Bradley Hand ITC, Georia, serif;
    font-size: 50px;
}

#MainContent h2 {
    border: thin solid black;
    padding-left: 30px; 
}