#content {
    position: relative;
}

.galleries {
	width: 300px;
	height: 300px;
}

#slogan {
	width: 100%;
	font-size: 30px;
	color: orange;
	text-align: center;
}

#slogan p {
    clear: both;
	text-align: center;
}


#galleriesarea {
	position: relative;
    height: 350px;
    padding-bottom: 50px;
    background-color: #2F2F2E;
    
}

#studygallery {
	position: absolute;
	left: 10%;
	top: 0;
}
#livingpart{
    position: relative;
    height: 350px;
    background-color: orange;
    padding-bottom: 50px;
}
#livinggallery{
	position: absolute;
	left: 70%;
	top: 0;
}


#picture {
    width: 100%;
    min-width: 400px;
    height: 400px;
    background-image: url(../images/bannerhome.jpg);
    text-align: center;
    background-size: 100%;
    height:400px;
    font-size: 40px;
    padding-top:140px;
    color: rgba(255, 255,255,0.8);
    letter-spacing:0.6em;
}
#livingpartText {
	position: absolute;
	left: 10%;
    top: 40%;
    color: #2F2F2E;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ;
}
#galleryText {
	position: absolute;
	left: 60%;
    top: 40%;
    color: rgba(255, 255,255,0.8);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ;
}
.galleries h2 {
font-family: 'Petit Formal Script', cursive;
text-align: center;
color: rgba(47, 47, 46, 1);
}
.galleries1 h2 {
font-family: 'Petit Formal Script', cursive;
text-align: center;
color: orange;
}

#slide {
    position: relative;
    width:100%;
    height:500px;
}

#switchLeft {
    width: 5%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;

}

#switchPicture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
#switchRight {
    width: 5%;
    height:100%;
    position: absolute;
    top:0;
    right:0;

}

#pictureContainner {
    position:absolute;
    width: 300%;
    height: 500px;
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    transition-property:left;
    transition-duration: 1s;
    font-size: 0px;
}

#pictureContainner li {
    list-style-type: none;
    display: inline;
}

#pictureContainner img {
width:33.3%;
height:100%;
margin:0;
}
#gquote{
    font-size: x-large;
}
#lquote{
    font-size: x-large;
}
#bt1{margin:0 auto;
     width: 100px;
     
    
}
#bt2{margin:0 auto;
     width: 100px;
}
.bt1{background-color: orange;
     color: #2F2F2E;
     border: 0 none;
     padding: 7px 15px;
    
}
.bt2{
    background-color: #2F2F2E;
    color: orange;
    border: 0 none;
    padding: 7px 15px;
}

.bt1:hover{
    background-color: #3aa3bf;
}

.bt2:hover{
    background-color: #3aa3bf;
    color: #2F2F2E;
}