#content{
    margin: auto;
}

/*#content h1{
    font-family: 'Segoe UI Emoji';
    font-size: xx-large;
    color: #ff00dc;
}*/

#picture{
	height: 400px;
    padding: 0px 0px 0px 0px;
    background-image: url("../images/immigration.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 35px;
	padding-top:60px;
	color: rgba(255, 0, 0, 0.5);
	letter-spacing: 0.5em;
    text-align: center;
}

#content p ul{
    float: right;
    padding: 10px;
}

#immigration{
    font-family: Arial;
    font-size: larger;
    font-weight: bold;
}

#more{
    font-family: Arial;
    font-size: x-large;
}

.hyperlinks{
    list-style: none;
	padding-top: 5px;
	padding-left: 30px;
}