#content{
    margin:0 auto;
}

/*#content h1{
    font-family: 'Segoe UI Emoji';
    font-size: xx-large;
    color: #ff00dc;
}*/

#picture{
	height: 400px;
    padding: 0px 0px 0px 0px;
    background-image: url("../images/immigration.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 35px;
	padding-top:60px;
	color: rgba(2, 0, 0, 0.5);
	letter-spacing: 0.5em;
    text-align: center;
}

#content p ul{
    float: right;
    padding: 10px;
}

#immigration{
    font-family: Arial;
    font-size: x-large;
    font-weight: bold;
}

#more{
    font-family: Arial;
    font-size: larger;
    text-align: center;
}

.hyperlinks{
    list-style: none;
	padding-top: 5px;
	padding-left: 30px;
    text-align: center;
}

#immigration{
    text-align: center;
}

.content{
        width: 1080px;
        margin:0 auto;
        padding-top: 30px;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url(../images/test-background-img-2.jpg);
    background-attachment: fixed;
    background-position: bottom;
    margin: 0px 0px 0px 0px;
}