#topdiv{
	height: 400px;
    padding: 0px 0px 0px 0px;
    background-image: url("../images/Langara/Langara-2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.picTitle {
    text-indent: 0px;
}