       
        .container{
            width: 1000px;
            margin:0 auto;

        }
        #bcit{
            float: left;
            padding: 30px;
            padding-bottom: 100px
        }
        #ubc{
            float: left;
            padding: 30px;
            padding-bottom: 100px
        }
        #langara{
            float: left;
            padding: 30px
        }
        #sfu{
            float: left;
            padding: 30px
        }

        .welcome{
            text-align: center;
            padding-top: 0px;
            
        }
        body{
            background-color: white;
            background-image: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url(../images/test-background-img-2.jpg);
            background-attachment: fixed;
            background-position: bottom;
            margin: 0px 0px 0px 0px;
        }
        h1{
            color: black
        }
        .schools{
            height: auto;
        }
        .header-nav{
            background-color: black;
        }
        span{
            position: relative;
            top:50px;
            left:50px;
        }
        .banner{
            background-image: url("../images/banner.jpg");
            width: 100%;
            height: 600px;
            background-repeat: no-repeat;
            background-size: cover;
            
        }
        #mainTitle {
            font-size: 40px;
            color: rgba(255, 255,255,0.8);
            letter-spacing:0.6em;
            text-align: center;
            padding-top: 140px;
            margin: 0px 0px 0px 0px;
        }