#topdiv{
	height: 400px;
    padding: 0px 0px 0px 0px;
    background-image: url("../images/SFU/SFUBurnaby.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}